In [3]:
import pandas as pd

In [4]:
def show_full_data(data, row_size=None, column_size=None, col_width=-1):
    """Shows all rows and columns instead of showing only some part and hiding other parts for large data.
    """
    with pd.option_context('display.max_rows', row_size, 'display.max_columns', column_size, 'display.max_colwidth', col_width):
        display(data)

In [5]:
calendar = pd.read_csv('../../../student-life-dataset/dataset/calendar/calendar_u00.csv')

In [6]:
calendar.head()

,id,device,timestamp,ACCOUNT_LABEL,DATE,TIME
0,6a9d4195-9193-47f0-a674-59e19ee5b29a-29,1977b545-a88f-4903-a7ae-2c434de4be49,1364182283,1,3/24/2013,20:00
1,3ade29d5-98f5-4a6c-bcbe-25e278a0bc73-55,1977b545-a88f-4903-a7ae-2c434de4be49,1364268683,1,3/25/2013,21:00
2,3ade29d5-98f5-4a6c-bcbe-25e278a0bc73-56,1977b545-a88f-4903-a7ae-2c434de4be49,1364268683,2,3/25/2013,22:00
3,3ade29d5-98f5-4a6c-bcbe-25e278a0bc73-57,1977b545-a88f-4903-a7ae-2c434de4be49,1364268683,3,3/25/2013,15:30
4,bea2978d-ca53-4e32-89ba-19b45e64a897-59,1977b545-a88f-4903-a7ae-2c434de4be49,1364355083,1,3/26/2013,15:30

In [7]:
calendar.shape

(240, 6)

In [8]:
calendar.timestamp.unique().shape

(73,)

In [19]:
calendar[calendar.timestamp == calendar.timestamp.value_counts().index[0]]

,id,device,timestamp,ACCOUNT_LABEL,DATE,TIME
191,196c024b-ddd3-4adb-8080-6bca1690db09-60,1977b545-a88f-4903-a7ae-2c434de4be49,1369789418,2,5/28/2013,1:00 PM
192,196c024b-ddd3-4adb-8080-6bca1690db09-61,1977b545-a88f-4903-a7ae-2c434de4be49,1369789418,3,5/28/2013,10:00 AM
193,196c024b-ddd3-4adb-8080-6bca1690db09-62,1977b545-a88f-4903-a7ae-2c434de4be49,1369789418,4,5/28/2013,10:30 AM
194,196c024b-ddd3-4adb-8080-6bca1690db09-64,1977b545-a88f-4903-a7ae-2c434de4be49,1369789418,5,5/28/2013,2:00 PM
195,196c024b-ddd3-4adb-8080-6bca1690db09-67,1977b545-a88f-4903-a7ae-2c434de4be49,1369789418,6,5/28/2013,8:00 AM
196,196c024b-ddd3-4adb-8080-6bca1690db09-68,1977b545-a88f-4903-a7ae-2c434de4be49,1369789418,7,5/28/2013,3:00 PM
197,196c024b-ddd3-4adb-8080-6bca1690db09-69,1977b545-a88f-4903-a7ae-2c434de4be49,1369789418,8,5/28/2013,5:00 PM
198,196c024b-ddd3-4adb-8080-6bca1690db09-70,1977b545-a88f-4903-a7ae-2c434de4be49,1369789418,9,5/28/2013,9:00 AM
199,196c024b-ddd3-4adb-8080-6bca1690db09-71,1977b545-a88f-4903-a7ae-2c434de4be49,1369789418,10,5/28/2013,11:00 AM